@model GestionEstudiantesWeb.Models.Matricula

<h4>Editar matricula</h4>
<p></p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdMatricula" />
            <div class="form-group">
                <label class="control-label">Estudiante</label>
                <select asp-for="IdEstudiante" class="form-control" asp-items="ViewBag.IdEstudiante"></select>
                <span asp-validation-for="IdEstudiante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Materia</label>
                <select asp-for="IdMateria" class="form-control" asp-items="ViewBag.IdMateria"></select>
                <span asp-validation-for="IdMateria" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-danger">Cancelar</a>
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
